.chart {
  width: 100%;
  position: relative;
  padding: 0px 20px;

  &__btn-cls {
    position: absolute;
    top: 3px;
    right: 30px;
    width: 37px;
    height: 37px;
    border: 1px solid #d3d3d3;
    background-color: white;
    background-image: url("./img/cross.svg");
    background-position: center;
    background-size: 50%;
    margin-top: 7px;
    outline: none;
    cursor: pointer;
  }
}
